.editorTabs {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.tabBar {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll !important;
  background-color: var(--bg-color-dark);
  position: relative;
  z-index: 1;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: auto; 
  scrollbar-color: #ccc transparent;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  cursor: grab;
}

.tabBar:active {
  cursor: grabbing;
}

.tabBar::-webkit-scrollbar {
  height: 6px;
}

.tabBar::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 3px;
}

.tabBar::-webkit-scrollbar-track {
  background: #ddd;
}

.tab {
  display: flex;
  align-items: center;
  background-color: var(--bg-color-dark);
  padding: 6px 5px;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  color: var(--text-color-dark);
  border: 1px solid var(--line-color);
  border-left: 0px solid transparent;
  z-index: 0;
  position: relative;
  flex: 0 0 auto; 
  min-width: max-content;
}

.tab:hover {
  background-color: var(--bg-color-focus);
}

.tab.active {
  background-color: var(--bg-color-bright);
  border-color: var(--line-color);
  border-bottom-color: var(--bg-color-bright);
  color: var(--logo-color-pink); 
  z-index: 2;
}

.tabButtons {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: 12px;
  visibility: hidden;
}

.tab:hover .tabButtons,
.tab.active .tabButtons {
  visibility: visible;
}

.closeBtn {
  background: transparent;
  color: var(--text-color-dark);
  border: none;
  cursor: pointer;
  padding: 2px 6px;
  font-size: 14px;
  line-height: 1;
}

.closeBtn:hover {
  background-color: var(--bg-color-focus);
  border-radius: 2px;
}

.active {
  font-weight: bold;
}
