.container {
  display: flex;
  background-color: #2d2d2d;
  border-bottom: 1px solid #333;
  overflow-x: auto;
}

.tabBar {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  background-color: #2b2b2b;
  padding: 4px;
}

.tab {
  display: flex;
  align-items: center;
  background: #3c3c3c;
  padding: 6px 10px;
  margin-right: 4px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.tab:hover {
  background-color: #3c3c3c;
}

.tab.active {
  background: #555;
}



.tabButtons {
  display: flex;
  gap: 4px;
  margin-left: 8px;
}

.closeBtn {
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.active {
  background-color: #1e1e1e;
  color: white;
  font-weight: bold;
}
