.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
  padding: 2px;
  border-top: 1px solid var(--line-color);
  z-index: 10;
}

.themeToggle {
  background: none;
  border: 1px solid var(--text-color-dark);
  cursor: pointer;
  color: var(--text-color-dark);
  background-color: transparent;
}

.themeToggle:hover {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}
