/* TYPOGRAPHY START */
:root{
    --mainBlue: #07005e;
    --mainRed: #FCB1A6;
    --mainWhite: #FFF9EC;
    --lightRed: #FFDCCC;
    --darkGray: #2B2B2B;
    --boneWhite: #fffdf8;
    --accentBlue: #9CBEEF;
    --darkBlue: #040038;
    --mainBlue80: rgba(6, 0, 94, 0.8);
    --mainBlue60: rgba(6, 0, 94, 0.6);
    --mainBlue40: rgba(6, 0, 94, 0.4);
    --mainBlue10: rgba(6, 0, 94, 0.1);
    --mainRed40: rgba(252, 177, 166, 0.4);
    --mainRed20: rgba(252, 177, 166, 0.2);
    --mainRed10: rgba(252, 177, 166, 0.1);
    --accentBlue40: rgba(156, 191, 239, 0.4);
}
b {
    font-weight: 600;
}
.montserrat-main {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.pinyon-script-regular {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.material-symbols-outlined {
    font-size: 20px !important;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

body{
    font-family: Montserrat;
    font-weight: 300;
    margin: 0;
    padding: 0;
    /* transition: all 0.3s ease-in-out; */
    box-sizing: border-box;
}

h1{
    font-size: 4.234rem;
}

h2{
    font-size: 2.618rem;
}

h3, h5{
    font-size: 1.618rem;
}

h4{
    font-size: 2.618rem;
    font-family: 'Pinyon Script';
}

h6{
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight:600;
}

small{
    font-size: 0.618rem;
}

.uppercase{
    text-transform: uppercase;
}

.bold-light{
    font-weight: 500;
}

.bold{
    font-weight: bold;
}
.btn-prinskorv {
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    background-color: var(--mainRed);
    border-radius: 0px;
    max-width: 250px;
    min-width: 200px;
    padding: 8px 20px;
    color: var(--mainBlue);
    flex: 1 0 auto;
    transition: all 0.6s ease;
    border: 2px solid var(--mainRed);
    clip-path: polygon( 95.867% 69.308%,91.443% 49.685%,95.953% 29.688%,95.953% 29.688%,96.482% 27.224%,96.985% 24.632%,97.461% 21.92%,97.911% 19.091%,98.333% 16.153%,98.727% 13.109%,99.092% 9.966%,99.426% 6.73%,99.73% 3.406%,100.002% 0%,100.002% -0%,100.002% -0%,98.924% 1.395%,97.84% 2.644%,96.75% 3.748%,95.656% 4.706%,94.558% 5.517%,93.456% 6.182%,92.351% 6.699%,91.244% 7.069%,90.134% 7.292%,89.023% 7.366%,10.979% 7.366%,10.979% 7.366%,9.868% 7.292%,8.758% 7.069%,7.651% 6.699%,6.546% 6.182%,5.444% 5.517%,4.346% 4.706%,3.252% 3.748%,2.162% 2.644%,1.078% 1.395%,0% 0%,0% 0%,0% 0%,0.272% 3.409%,0.576% 6.734%,0.91% 9.971%,1.274% 13.113%,1.668% 16.156%,2.09% 19.094%,2.54% 21.922%,3.017% 24.633%,3.52% 27.224%,4.049% 29.688%,8.559% 49.685%,4.135% 69.308%,4.135% 69.308%,3.591% 71.848%,3.074% 74.522%,2.584% 77.323%,2.123% 80.245%,1.692% 83.283%,1.29% 86.43%,0.92% 89.68%,0.581% 93.028%,0.275% 96.466%,0.002% 99.99%,0.002% 99.99%,0.002% 99.99%,1.08% 98.479%,2.165% 97.126%,3.256% 95.929%,4.353% 94.891%,5.454% 94.011%,6.56% 93.29%,7.669% 92.729%,8.781% 92.327%,9.896% 92.085%,11.012% 92.005%,88.99% 92.005%,88.99% 92.005%,90.106% 92.085%,91.221% 92.327%,92.333% 92.729%,93.443% 93.29%,94.549% 94.011%,95.65% 94.891%,96.747% 95.929%,97.838% 97.126%,98.922% 98.479%,100% 99.99%,100% 99.99%,100% 99.99%,99.727% 96.463%,99.421% 93.023%,99.082% 89.674%,98.711% 86.423%,98.31% 83.275%,97.879% 80.238%,97.418% 77.317%,96.928% 74.517%,96.411% 71.846%,95.867% 69.308% );
}
.btn-style-2 {
    background-color: var(--mainBlue);
    color: var(--mainWhite);
    border-color: var(--mainBlue);
}
.btn-prinskorv:hover {
    border-color: var(--accentBlue);
    background-color: var(--accentBlue);
    cursor: pointer;
    scale: 1.1;
}
/* TYPOGRAPHY END */

/* ----MOBILE FIRST START---- */
/* HEADER START */
#header {
    position: fixed;
    width: 100%;
    height: 64px;
    background-color: rgba(6, 0, 94, 0);
    z-index: 3;
}
.wrapper { /* denna class kan nu återanvändas i andra delar av sidan */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo{
    display: flex;
    align-items: center;
}
    #logo a{
        font-family: 'Pinyon Script';
        font-size: 2.618rem;
        line-height: 64px;
        text-decoration: none;
        color: var(--mainWhite);
    }

.dynamic-menu {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: fixed;
    top: 64px;
    right: 0;
    width: 100%;
    height: calc(100vh - 64px);
    opacity: 0;
    background-color: var(--mainWhite);
    transform: translateX(2500px);
    transition: transform .6s cubic-bezier(.23,1,.32,1), opacity 1s ease;
}
.active .dynamic-menu {
    transform: translateX(0);
    opacity: 1;
}
.dynamic-menu ul {
    list-style: none;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.dynamic-menu ul li {
    display: flex;
}
.dynamic-menu a {
    border-radius: 3px;
    padding: 0 10px;
    line-height: 40px;
    color: var(--mainBlue);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    transition: all 0s ease;
    width: 100%;
}
.dynamic-menu i {
    margin-right: 1rem;
    transition: all 0s ease;
}
.dynamic-menu a:hover {
    color: var(--mainBlue);
    background-color: var(--lightRed);
}
.dynamic-menu .pattern-background {
    height:100%;
    width: 100%;
    background-image: url('../Images/pattern.png');
    background-size: 50%;
    margin: 40px 0 20px 0;
    border: 0.05rem solid rgba(6, 0, 94, 0.2);
    border-radius: 3px;
    opacity: 0.8;
}
.open .bar1{
    transform: rotate(-45deg) translate(-6px, 8px);
}
.open .bar2{
    opacity: 0;
}
.open .bar3{
    transform: rotate(45deg) translate(-6px, -8px);
}

#burger-icon {
    display: block;
    margin: auto 0;
    cursor: pointer;
}

#burger-icon div{
    width: 25px;
    height: 2px;
    border-radius: 3px;
    background-color: var(--mainWhite);
    margin: 8px 0;
    transition: 0.4s;
    z-index: 4;
}
/* HEADER END */


/* HEADER END */

/* FOOTER START*/
footer {
    background-color: var(--mainBlue);
}
footer a,
footer ul {
    text-decoration: none;
    color: var(--mainWhite);
    list-style: none;
    font-size: 0.8rem;
    line-height: 1.2rem;
    transition: all 0.2s ease;
    font-weight: 100;
    letter-spacing: 0.03rem;
}
footer a:hover {
    color: var(--accentBlue);
}
footer img {
    width: 100px;
}

.footer-links {
    grid-area: links;
}
.footer-socials {
    grid-area: socials;
    padding: 0;
}
.footer-contact {
    grid-area: contact; 
}

footer .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'logo socials contact'
    '. links contact';
    gap: 20px;
    padding: 80px 30px;
    align-items: start;
}
footer section {
    border-bottom: none;
    text-align: left;
    padding: 0;
}
footer ul {
    text-align: left;
}
.footer-links li {
    display: block;
}
footer li:first-child {
    display: block;
}
footer h3 {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 200;
    color: var(--mainRed);
    padding-bottom: 1rem;
}
.footer-socials li {
    display: inline;
    margin-right: 0.5rem;
}
.footer-socials i {
    font-size: 1rem;
}
.footer-contact i, .footer-links i {
    width: 12px;
    margin-right: 8px;
}
.footer-contact p {
    margin-top: 0.5rem;
    padding-left: 1.2rem;
    color: var(--lightRed);
    color: rgba(252, 177, 166, 0.6);
}
/* Footer END */
/* ----MOBILE FIRST END---- */

/* xs screens */
@media screen and (max-width: 600px) {
    #novem .footer-logo img {
        width: 120px;
    }
    #novem footer .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'logo contact'
        'socials contact'
        'socials links';
        padding: 60px 30px;
        gap: 20px;
    }
}
/* ----TABLET START---- */
@media screen and (min-width:769px){

/* HEADER START */
    #novem #burger-icon{
        display: none;
    }
    #novem .dynamic-menu {
        height: auto;
        position: static;
        transform: translateX(0);
        background-color: #9cbfef00;
        padding: 0;
        opacity: 1;
        transition: transform 1s cubic-bezier(.23,1,.32,1), opacity 1.5s ease;
    }
    #novem .dynamic-menu .pattern-background {
        display: none;
    }
    #novem .dynamic-menu ul {
        flex-direction: row;
        justify-content: flex-end;
    }
    #novem .dynamic-menu i {
        display:none;
    }
    #novem .dynamic-menu a {
        padding: 0;
        margin: 0 10px;
        border-radius: 0;
        color: var(--mainWhite);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #novem .dynamic-menu a:hover {
        background-color: #06005e00;
        color: var(--mainRed);
    }
    #novem .dynamic-menu a::after {
        content: '';
        display: flex;
        width: 0;
        height: 2px;
        background: var(--mainRed);
        transition: width .3s;
    }
    #novem .dynamic-menu a:hover::after {
        width: 95%;
    }
    #novem footer .wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        'logo socials links contact';
        padding: 80px 20px;
    }
    #novem .footer-socials i {
        font-size: 1.25rem;
    }
/* HEADER END */

/* FOOTER START */
    #novem .footer-wrapper{
        grid-template-columns: repeat(4, 1fr);
    }

    #novem footer section{
        padding-bottom: 0px;
    }

    #novem .footer-links{
        display: initial;
    }
    #novem .footer-links li{
            display: flex;
        }
/* FOOTER END */
}
/* ----TABLET END---- */

/* ----DESKTOP START---- */
@media screen and (min-width:961px){

/* FOOTER START */
    #novem footer .wrapper {
        grid-template-columns: 2fr 1fr 1fr 175px;
        grid-template-areas: 
        'logo socials links contact';
    }
/* FOOTER END */
}
/* ----DESKTOP END---- */   
