.secondarySidebar {
  background-color: #252526;
  color: white;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #333;
  transition: transform 0.2s ease-out, opacity 0.8s ease-out;
  transform: translateX(0%);
  opacity: 1;
}

.secondarySidebar.hidden {
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
}