* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #1e1e1e;
  color: #d4d4d4;
  font-family: 'Inconsolata', 'Courier New', monospace;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 20px;
}