html.transition-enabled,
* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

html {
  background-color: #494949; 
  color: #353535;
  transition: none;
}

/* Light theme colors */
html.light {
  --bg-color-bright: #ffffff;
  --bg-color-dark: #f5f5f5;
  --bg-color-focus: #cacaca;
  --bg-color-arrow: #6969691a;
  --text-color-dark: #222222;
  --text-color-soft: #555555;
  --line-color: #dddddd;
  --logo-color-pink: #c47aff;
  --logo-color-blue: #54c9de;
  --logo-color-blue-hover: #3794ff;
  background-color: var(--bg-color-bright);
  color: var(--text-color-dark);
}

/* Dark theme colors */
html.dark {
  --bg-color-bright: #1f1f1f;
  --bg-color-dark: #181818;
  --bg-color-focus: #333;
  --bg-color-arrow: #acacac1a;
  --text-color-dark: #eeeeee;
  --text-color-soft: #cccccc;
  --line-color: #2b2b2b;
  --logo-color-pink: #b46bdf;
  --logo-color-blue: #42becc;
  --logo-color-blue-hover: #3794ff;
  background-color: var(--bg-color-bright);
  color: var(--text-color-dark);
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inconsolata', 'Courier New', monospace;
}

#root {
  height: 100%;
}
